<div class="row layout-spacing">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Course Navette</h1>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h4><b>Velocidad {{lastTest.velocidad || 0.00 | number : '1.2-2'}} m/s</b></h4>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area center">
        <app-pie-grid-chart [data]="speedData" [designatedTotal]="100"></app-pie-grid-chart>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h4><b>Distancia {{lastTest.distancia || 0.00 | number : '1.2-2'}} m</b></h4>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area center">
        <app-pie-grid-chart [data]="distanceData" [designatedTotal]="20"></app-pie-grid-chart>
      </div>
    </div>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Historial</h1>
  </div>

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>{{lastTest.fechaInicio | date:'MMM d, y, h:mm:ss a'}}</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area center">

        <!-- TABLA DETALLE TEST -->
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceDetail">

            <!-- numero Column -->
            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef> Repetición </th>
              <td mat-cell *matCellDef="let element"> <strong>{{element.numero}}</strong> </td>

              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <!-- minVel Column -->
            <ng-container matColumnDef="minVel">
              <th mat-header-cell *matHeaderCellDef> V. Minima </th>
              <td mat-cell *matCellDef="let element"> {{element.minVel}} </td>

              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <!-- maxVel Column -->
            <ng-container matColumnDef="maxVel">
              <th mat-header-cell *matHeaderCellDef> V. Maxima </th>
              <td mat-cell *matCellDef="let element"> {{element.maxVel}} </td>

              <td mat-footer-cell *matFooterCellDef> <strong>Distancia Total</strong> </td>
            </ng-container>

            <!-- promedio Column -->
            <ng-container matColumnDef="promedio">
              <th mat-header-cell *matHeaderCellDef> V. Promedio </th>
              <td mat-cell *matCellDef="let element"> {{element.promedio}} </td>

              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <!-- distancia Column -->
            <ng-container matColumnDef="distancia">
              <th mat-header-cell *matHeaderCellDef> Distancia </th>
              <td mat-cell *matCellDef="let element"> {{element.distancia || 0}} </td>

              <td mat-footer-cell *matFooterCellDef> {{getTotal()}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDetails;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsDetails"></tr>
          </table>

          <mat-paginator #paginatorDetails="matPaginator" [pageSize]="7" showFirstLastButtons></mat-paginator>
        </div>
        <!-- FIN TABLA DETALLE TEST -->

      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Total de registros</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area center">

        <!-- Historial de repeticiones -->
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceHistory">

            <!-- fecha Column -->
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
            </ng-container>

            <!-- estado Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <!-- repeticiones Column -->
            <ng-container matColumnDef="repeticiones">
              <th mat-header-cell *matHeaderCellDef> Repeticiones </th>
              <td mat-cell *matCellDef="let element"> {{element.repeticiones}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></tr>
          </table>

          <mat-paginator #paginatorHistory="matPaginator" [pageSize]="8" showFirstLastButtons></mat-paginator>
        </div>
        <!-- FIN Historial de repeticiones -->

      </div>
    </div>
  </div>


  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Estadisticas</h1>
  </div>

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h3><b>Por Semana</b></h3>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area center">

        <!-- Historial por semana -->
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceTW">

            <!-- inicio Column -->
            <ng-container matColumnDef="inicio">
              <th mat-header-cell *matHeaderCellDef> Semana </th>
              <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="dateWeek">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element">{{element.date}} </td>
            </ng-container>

            <!-- repMax Column -->
            <ng-container matColumnDef="repMax">
              <th mat-header-cell *matHeaderCellDef> Rep. Maximas </th>
              <td mat-cell *matCellDef="let element"> {{element.repMax}} </td>
            </ng-container>

            <!-- repMin Column -->
            <ng-container matColumnDef="repMin">
              <th mat-header-cell *matHeaderCellDef> Rep. Minimas </th>
              <td mat-cell *matCellDef="let element"> {{element.repMin}} </td>
            </ng-container>

            <!-- promedio Column -->
            <ng-container matColumnDef="promedio">
              <th mat-header-cell *matHeaderCellDef> Rep. Promedio </th>
              <td mat-cell *matCellDef="let element"> {{element.promedio}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTW"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTW;"></tr>
          </table>

          <mat-paginator #paginatorTsWeek="matPaginator" [pageSize]="8" showFirstLastButtons></mat-paginator>
        </div>
        <!-- FIN Historial por semana -->

      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
      <div class="statbox widget box box-shadow">
        <div class="widget-header">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h3><b>Fallos ({{fails.length}})</b></h3>
            </div>
          </div>
        </div>
        <div class="widget-content widget-content-area center">

          <!-- Historial de fallos -->
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceFails">

              <!-- fecha Column -->
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
              </ng-container>

              <!-- repeticiones Column -->
              <ng-container matColumnDef="repeticiones">
                <th mat-header-cell *matHeaderCellDef> Repeticiones </th>
                <td mat-cell *matCellDef="let element"> {{element.repeticiones}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsFails"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsFails;"></tr>
            </table>

            <mat-paginator #paginatorFails="matPaginator" [pageSize]="2" showFirstLastButtons></mat-paginator>
          </div>
          <!-- FIN Historial de fallos -->

        </div>
      </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
      <div class="statbox widget box box-shadow">
        <div class="widget-header">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h3><b>Rendiciones ({{rend.length}})</b></h3>
            </div>
          </div>
        </div>
        <div class="widget-content widget-content-area center">

          <!-- Historial de rendiciones -->
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceRend">

              <!-- fecha Column -->
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
              </ng-container>

              <!-- repeticiones Column -->
              <ng-container matColumnDef="repeticiones">
                <th mat-header-cell *matHeaderCellDef> Repeticiones </th>
                <td mat-cell *matCellDef="let element"> {{element.repeticiones}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsRend"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsRend;"></tr>
            </table>

            <mat-paginator #paginatorRend="matPaginator" [pageSize]="2" showFirstLastButtons></mat-paginator>
          </div>
          <!-- FIN Historial de fallos -->

        </div>
      </div>
    </div>

  </div>

</div>
