<div class="row layout-spacing">

  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow" routerLink="oxygen" style="cursor: pointer;">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">

            <h3 class="d-flex justify-content-center"><b>Oxigeno</b></h3>
            <h6 class="d-flex justify-content-center">{{lastOxygen.fechaHora | date:'MMM d, y, h:mm:ss a'}}</h6>

          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area d-flex justify-content-center">

        <app-pie-grid-chart [data]="oxygenData"></app-pie-grid-chart>

      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow" routerLink="temperature" style="cursor: pointer;">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">

            <h3 class="d-flex justify-content-center"><b>Temperatura</b></h3>
            <h6 class="d-flex justify-content-center">{{lastTemperature.fechaHora | date:'MMM d, y, h:mm:ss a'}}</h6>

          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area d-flex justify-content-center">

        <app-pie-grid-chart [scheme]="scheme" [data]="temperatureData"></app-pie-grid-chart>

      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow" routerLink="heart-rate" style="cursor: pointer;">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">

            <h3 class="d-flex justify-content-center"><b>Ritmo Cardiaco</b></h3>
            <h6 class="d-flex justify-content-center">{{lastHeartRate.fechaHora | date:'MMM d, y, h:mm:ss a'}}</h6>

          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area d-flex justify-content-center">

        <app-pie-grid-chart [data]="heartRateData" [designatedTotal]="200"></app-pie-grid-chart>

      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"></div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow" routerLink="step-counter" style="cursor: pointer;">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">

            <h3 class="d-flex justify-content-center"><b>Pasos y Calorias quemadas</b></h3>
            <h6 class="d-flex justify-content-center">{{lastHeartRate.fechaHora | date:'MMM d, y, h:mm:ss a'}}</h6>

          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area d-flex justify-content-center">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">

            <app-pie-grid-chart [data]="exerciseData" [designatedTotal]="100"></app-pie-grid-chart>

            <h6 class="d-flex justify-content-center"> Estado de sesión: {{lastExcercie.estado | titlecase}} </h6>
            <h6 class="d-flex justify-content-center">
              {{lastExcercie.caloriasQuemadas  || 0 | number : '1.0'}} Calorias quemadas
            </h6>
            <h6 class="d-flex justify-content-center">{{lastExcercie.noPasos  || 0 | number : '1.0'}} Pasos realizados
            </h6>

          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template [ngIf]="userType">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
      <h1>Atletas</h1>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
      <table class="table table-hover table-striped table-light">
        <thead>
          <tr>
            <th scope="col" class="align-middle">#</th>
            <th scope="col" class="align-middle">Nombre</th>
            <th scope="col" class="align-middle">Apellido</th>
            <th scope="col" class="align-middle">Edad</th>
            <th scope="col" class="align-middle">Genero</th>
            <th scope="col" class="align-middle">Peso</th>
            <th scope="col" class="align-middle">Estatura</th>
            <th scope="col" class="align-middle">Analitica</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of athletes">
            <th scope="row" class="align-middle">{{user.idUsuario}}</th>
            <td class="align-middle">{{user.nombre}}</td>
            <td class="align-middle">{{user.apellido}}</td>
            <td class="align-middle">{{user.edad}}</td>
            <td class="align-middle">{{user.genero ? 'Masculino' : 'Femenino'}}</td>
            <td class="align-middle">{{user.peso}}</td>
            <td class="align-middle">{{user.estatura}}</td>
            <td class="align-middle">

              <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle value="left" aria-label="Oxygen" [routerLink]="['oxygen', user.idUsuario]">
                  <mat-icon>air</mat-icon>
                </mat-button-toggle>

                <mat-button-toggle value="center" aria-label="Temperature"
                  [routerLink]="['temperature', user.idUsuario]">
                  <mat-icon color="primary">thermostat</mat-icon>
                </mat-button-toggle>

                <mat-button-toggle value="right" aria-label="Heart Rate" [routerLink]="['heart-rate', user.idUsuario]">
                  <mat-icon color="warn">favorite</mat-icon>
                </mat-button-toggle>

                <mat-button-toggle value="right" aria-label="Course Navette"
                  [routerLink]="['course-navette', user.idUsuario]">
                  <mat-icon>directions_run</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

</div>
