<div class="row page-content">
  <div class="col-12 col-lg-12 align-self-center">
    <h1>Ritmo Cardíaco</h1>
  </div>

  <div class="col-12 col-lg-8 align-self-center">
    <div class="card card-graph">
      <div class="card-body ">

        <app-line-chart [data]="data"></app-line-chart>

      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 align-self-center">

    <div class="card">
      <div class="card-body">
        <h5 class="card-text">{{lastHR.fechaHora}}</h5>
        <p class="card-text">Promedio: {{lastHR.medicion || 0.00}} BPM</p>
      </div>
    </div>

  </div>

</div>

<div class="row page-content">
  <div class="col-12 col-lg-12 align-self-center">
    <h1>Historial Ritmo Cardiaco</h1>
  </div>

  <div class="col-12 col-lg-12 align-self-center">
    <div class="card card-graph">
      <div class="card-body ">

        <app-vertical-bar-chart [data]="dataReports" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          [legendTitle]="legendTitle"></app-vertical-bar-chart>

      </div>
    </div>
  </div>
</div>
