table {
  width: 100%;
}

tr.mat-header-row {
  height: 30px;
  font-size: 15px !important;
  font-weight: bold;
}

.mat-header-cell {
  font-size: 15px;
  color: #e0e6ed;
  background-color: #060818 !important;
}

.mat-cell,
.mat-footer-cell {
  color: #e0e6ed;
}

.mat-table thead,
.mat-table tbody,
.mat-table tfoot,
mat-header-row,
mat-row,
mat-footer-row,
[mat-header-row],
[mat-row],
[mat-footer-row],
.mat-table-sticky {
  background-color: #11152d;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  color: #e0e6ed;
  background-color: #060818;
}

/* CHART */
.ngx-charts {
  fill: #7b848b;
}

.ngx-charts .gridline-path {
  stroke: #636a70 !important;
}
