<!--  BEGIN NAVBAR  -->
<div class="sub-header-container fixed-top">
  <header class="header navbar navbar-expand-sm">
    <a class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="feather feather-menu">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </a>

    <ul class="navbar-nav flex-row">
      <li>
        <div class="page-header">

          <nav class="breadcrumb-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a>
                  <b style="font-size: 15px;">{{ now | date:'MMM d, y, h:mm a'}}</b>
                </a>
              </li>
            </ol>
          </nav>

        </div>
      </li>
    </ul>

    <ul class="navbar-item flex-row ml-md-auto">
      <li style="padding-right: 20px; cursor: context-menu;">
        <b style="font-size: 15px;">Sport Fit Squared Bands</b>
      </li>
    </ul>
  </header>
</div>
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
  <div class="overlay"></div>

  <!--  BEGIN SIDEBAR  -->
  <div class="sidebar-wrapper sidebar-theme">
    <nav id="sidebar">
      <ul class="list-unstyled menu-categories" id="accordionExample">

        <ng-template ngFor let-item [ngForOf]="menuItem">
          <li class="menu">
            <a [routerLink]="[item.url]" aria-expanded="false" class="dropdown-toggle">
              <mat-icon>{{item.icon}}</mat-icon>
              <span class="aligned-with-icon">{{item.title}}</span>
            </a>
          </li>
        </ng-template>

        <li class="menu">
          <a aria-expanded="false" class="dropdown-toggle" style="cursor: pointer;" [routerLink]="['/login']"
            (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span class="aligned-with-icon">Cerrar Sesión</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
  <!--  END SIDEBAR  -->

  <!--  BEGIN CONTENT AREA  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">

      <router-outlet></router-outlet>

    </div>
  </div>
  <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->
