.center {
  margin: auto !important;
  width: 100% !important;
  padding: 10px !important;
}

.date-time:hover {
  cursor: default;
  color: #89c8f2 !important;
  background: transparent !important;
  text-decoration: none
}

.aligned-with-icon {
  position: absolute;
  margin-top: 0px;
  margin-left: 30px;
  font-size: 15px;
}
