<div class="row layout-spacing">
  <div class="col-xl-1 col-lg-12 col-md-12 col-sm-12 col-12"></div>

  <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">

            <h1><b>Perfil</b></h1>

          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area center">

        <form autocomplete="off" #formProfile="ngForm" (ngSubmit)="update()">
          <div class="form-group mb-4">
            <label for="nickname">Nickname</label>
            <input class="form-control" type="text" name="nickname" id="nickname" [value]="user.nickname" required
              disabled>
          </div>


          <div class="form-group mb-4">
            <label for="first_name">Nombre</label>
            <input class="form-control" type="text" name="FirstName" id="first_name" [value]="user.nombre" required
              disabled>
          </div>

          <div class="form-group mb-4">
            <label for="last_name">Apellido</label>
            <input class="form-control" type="text" name="LastName" id="last_name" [value]="user.apellido" required
              disabled>
          </div>

          <div class="row">
            <div class="col-xl-3 col-md-12 col-sm-12 col-12">
              <div class="form-group mb-4">
                <label for="birth">Edad</label>
                <input class="form-control" type="text" name="Birth" id="birth" #gender="ngModel"
                  [(ngModel)]="user.edad" required>
              </div>
            </div>


            <div class="col-xl-3 col-md-12 col-sm-12 col-12">
              <div class="form-group mb-4">
                <label for="Gender">Genero</label>
                <select class="form-control" name="Gender" id="gender" #gender="ngModel" [(ngModel)]="user.genero"
                  required>
                  <option value="1">Masculino</option>
                  <option value="0">Femenino</option>
                </select>
              </div>
            </div>

            <div class="col-xl-3 col-md-12 col-sm-12 col-12">
              <div class="form-group mb-4">
                <label for="height">Estatura</label>
                <input class="form-control" type="text" name="Height" id="height" #height="ngModel"
                  [(ngModel)]="user.estatura" required>
              </div>
            </div>

            <div class="col-xl-3 col-md-12 col-sm-12 col-12">
              <div class="form-group mb-4">
                <label for="weight">Peso</label>
                <input class="form-control" type="text" name="Weight" id="weight" #weight="ngModel"
                  [(ngModel)]="user.peso" required>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block"
            [disabled]="!formProfile.form.valid">Actualizar</button>
        </form>

      </div>
    </div>
  </div>
</div>
