.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.sidebar-content {
  width: 100vw;
  height: 100vh;
}

.sidebar-panel {
  background: #17242c;
  color: #e1e2e4;
  width: 250px;
}

.sidebar-panel .sidebar-header {
  padding: 50px;
  background: #17242c;
}

.sidebar-panel ul {
  color: #89c8f2;
  padding: 10px;
}

.sidebar-panel ul li a {
  padding: 10px;
  font-size: 1.0em;
  display: block;
  position: relative;
  border: none;
  color: #89c8f2;
}

.sidebar-panel ul li a:hover {
  color: #e1e2e4;
  text-decoration: none
}

.date-time:hover {
  cursor: default;
  color: #89c8f2 !important;
  background: transparent !important;
  text-decoration: none
}

.aligned-with-icon {
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
}

.sidebar-container {
  background: #242527;
}
