<div class="row page-content">
  <div class="col-12 col-lg-12 align-self-center">
    <h1>Course Navette</h1>
  </div>

  <div class="col-12 col-lg-8 align-self-center">
    <!-- TABLA DETALLE TEST -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceDetail">

        <!-- numero Column -->
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> Repetición </th>
          <td mat-cell *matCellDef="let element"> <strong>{{element.numero}}</strong> </td>

          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <!-- minVel Column -->
        <ng-container matColumnDef="minVel">
          <th mat-header-cell *matHeaderCellDef> Velocidad minima </th>
          <td mat-cell *matCellDef="let element"> {{element.minVel}} </td>

          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <!-- maxVel Column -->
        <ng-container matColumnDef="maxVel">
          <th mat-header-cell *matHeaderCellDef> Velocidad Maxima </th>
          <td mat-cell *matCellDef="let element"> {{element.maxVel}} </td>

          <td mat-footer-cell *matFooterCellDef> <strong>Distancia Total</strong> </td>
        </ng-container>

        <!-- promedio Column -->
        <ng-container matColumnDef="promedio">
          <th mat-header-cell *matHeaderCellDef> Velocidad promedio </th>
          <td mat-cell *matCellDef="let element"> {{element.promedio}} </td>

          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <!-- distancia Column -->
        <ng-container matColumnDef="distancia">
          <th mat-header-cell *matHeaderCellDef> Distancia </th>
          <td mat-cell *matCellDef="let element"> {{element.distancia}} </td>

          <td mat-footer-cell *matFooterCellDef> {{getTotal()}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDetails;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsDetails"></tr>
      </table>

      <mat-paginator #paginatorDetails="matPaginator" [pageSize]="7" showFirstLastButtons></mat-paginator>
    </div>
    <!-- FIN TABLA DETALLE TEST -->
  </div>

  <div class="col-12 col-lg-4 align-self-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">{{lastTest.fechaInicio | date:'MMM d, y, h:mm:ss a'}}</h5>
        <br>
        <p class="card-text">Distancia: {{lastTest.distancia || 0.00 | number : '1.2-2'}} m</p>
        <p class="card-text">Velocidad: {{lastTest.velocidad || 0.00 | number : '1.2-2'}} m/s</p>
      </div>
    </div>
  </div>
</div>

<div class="row page-content">
  <div class="col-12 col-lg-12 align-self-center">
    <h1>Historial</h1>
  </div>

  <div class="col-12 col-lg-7 align-self-center">
    <!-- Historial de repeticiones -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceHistory">

        <!-- fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
        </ng-container>

        <!-- estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <!-- repeticiones Column -->
        <ng-container matColumnDef="repeticiones">
          <th mat-header-cell *matHeaderCellDef> Repeticiones </th>
          <td mat-cell *matCellDef="let element"> {{element.repeticiones}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></tr>
      </table>

      <mat-paginator #paginatorHistory="matPaginator" [pageSize]="9" showFirstLastButtons></mat-paginator>
    </div>
    <!-- FIN Historial de repeticiones -->
  </div>

  <div class="col-12 col-lg-5 align-self-center">
    <div class="row">
      <h2>Fallos {{fails.length}}</h2>

      <!-- Historial de fallos -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceFails">

          <!-- fecha Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
          </ng-container>

          <!-- repeticiones Column -->
          <ng-container matColumnDef="repeticiones">
            <th mat-header-cell *matHeaderCellDef> Repeticiones </th>
            <td mat-cell *matCellDef="let element"> {{element.repeticiones}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsFails"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsFails;"></tr>
        </table>

        <mat-paginator #paginatorFails="matPaginator" [pageSize]="2" showFirstLastButtons></mat-paginator>
      </div>
      <!-- FIN Historial de fallos -->
    </div>

    <br>
    <br>

    <div class="row">
      <h2>Rendiciones {{rend.length}}</h2>

      <!-- Historial de rendiciones -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceRend">

          <!-- fecha Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
          </ng-container>

          <!-- repeticiones Column -->
          <ng-container matColumnDef="repeticiones">
            <th mat-header-cell *matHeaderCellDef> Repeticiones </th>
            <td mat-cell *matCellDef="let element"> {{element.repeticiones}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsRend"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsRend;"></tr>
        </table>

        <mat-paginator #paginatorRend="matPaginator" [pageSize]="2" showFirstLastButtons></mat-paginator>
      </div>
      <!-- FIN Historial de fallos -->

    </div>
  </div>
</div>

<div class="row page-content">
  <div class="col-12 col-lg-12 align-self-center">
    <h1>Estadisticas por semana</h1>
  </div>

  <div class="col-12 col-lg-12 align-self-center">

    <!-- Historial por semana -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceTW">

        <!-- inicio Column -->
        <ng-container matColumnDef="inicio">
          <th mat-header-cell *matHeaderCellDef> Inicio </th>
          <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
        </ng-container>

        <!-- fin Column -->
        <ng-container matColumnDef="fin">
          <th mat-header-cell *matHeaderCellDef> Fin </th>
          <td mat-cell *matCellDef="let element"> {{element.fin}} </td>
        </ng-container>

        <!-- repMax Column -->
        <ng-container matColumnDef="repMax">
          <th mat-header-cell *matHeaderCellDef> Repeticiones Maximas </th>
          <td mat-cell *matCellDef="let element"> {{element.repMax}} </td>
        </ng-container>

        <!-- repMin Column -->
        <ng-container matColumnDef="repMin">
          <th mat-header-cell *matHeaderCellDef> Repeticiones Minimas </th>
          <td mat-cell *matCellDef="let element"> {{element.repMin}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTW"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTW;"></tr>
      </table>

      <mat-paginator #paginatorTsWeek="matPaginator" [pageSize]="7" showFirstLastButtons></mat-paginator>
    </div>
    <!-- FIN Historial por semana -->

  </div>
</div>
