<div class="row layout-spacing">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Contador de Pasos y Calorias </h1>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h2><b>Pasos</b></h2>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area d-flex justify-content-center">

        <div id="fluid-meter-steps" class="mx-auto"></div>

      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
    <div class="statbox widget box box-shadow">
      <div class="widget-header">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h2><b>Calorias</b></h2>
          </div>
        </div>
      </div>
      <div class="widget-content widget-content-area d-flex justify-content-center">

        <div id="fluid-meter-calories" class="mx-auto"></div>

      </div>
    </div>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Historial de Pasos</h1>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing align-self-center">
    <div class="statbox widget box box-shadow">
      <div class="widget-content widget-content-area center">

        <app-grouped-vertical-bar-chart [data]="dataReports" [scheme]="scheme" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [legendTitle]="legendReportTitle"></app-grouped-vertical-bar-chart>

      </div>
    </div>
  </div>
</div>
