<div class="page-content">
  <div class="form-container outer">
    <div class="form-form">
      <div class="form-form-wrap">
        <div class="form-container">
          <div class="form-content">

            <h1 class="">Iniciar sesión</h1>
            <p class="">Inicie sesión con su cuenta para continuar</p>

            <form class="text-left" autocomplete="off" #formSignin="ngForm" (ngSubmit)="signin()">
              <div class="form">

                <div id="username-field" class="field-wrapper input">
                  <label for="nickname">USUARIO</label>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-user">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>

                  <input class="form-control" type="text" placeholder="Nickname" id="nickname" name="nickname"
                    #nickname="ngModel" [(ngModel)]="user.nickname" required>
                </div>

                <div id="password-field" class="field-wrapper input mb-2">
                  <div class="d-flex justify-content-between">
                    <label for="password">CONTRASEÑA</label>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-lock">
                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                  </svg>

                  <input class="form-control" type="password" placeholder="Contraseña" id="password" name="password"
                    #password="ngModel" [(ngModel)]="user.contrasenia" required>
                </div>

                <div class="d-sm-flex justify-content-between">
                  <div class="field-wrapper">
                    <button type="submit" class="btn btn-primary">ENTRAR</button>
                  </div>
                </div>

                <p class="signup-link">
                  <!-- ¿Aún no te has registrado? <a href="#">Crea una cuenta</a> -->
                </p>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
