<div class="page-content d-flex justify-content-center align-items-center">
  <div class="col-sm-10 col-sm-push-6 col-md-10 col-md-push-8 col-lg-10 col-lg-push-8">
    <div class="container" [ngClass]="{'right-panel-active': rightPanel}">

      <div class="form-container sign-in-container">
        <form autocomplete="off" #formSignin="ngForm" (ngSubmit)="signin()">
          <h1 class="title">Iniciar sesión</h1>

          <input class="form-control" type="text" placeholder="Usuario" name="nickname" #nickname="ngModel"
            [(ngModel)]="user.nickname" required>
          <input class="form-control" type="password" placeholder="Contraseña" name="password" #password="ngModel"
            [(ngModel)]="user.contrasenia" required>

          <!-- <a href="#">¿Olvidaste tu contraseña?</a> -->
          <button type="submit" class="log-btn" [disabled]="!formSignin.form.valid">Iniciar sesión</button>

          <button type="button" class="log-sm-btn" (click)="switchPanel()">Crear una cuenta</button>
        </form>
      </div>

      <div class="form-container sign-up-container">
        <form action="#">
          <h1 class="title">Crea una cuenta nueva</h1>

          <input type="text" class="form-control" placeholder="Nombre" name="name" required>
          <input type="text" class="form-control" placeholder="Usuario" name="nickname-register" required>
          <input type="password" class="form-control" placeholder="Contraseña" name="password-register" required>

          <button type="submit" class="log-btn">Regístrate</button>

          <button type="button" class="log-sm-btn" (click)="switchPanel()">Iniciar sesión</button>
        </form>
      </div>


      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>¡Hola, amig@!</h1>
            <p>¿Nuevo en el sitio?</p>
            <button type="submit" class="ghost" id="signUp" (click)="switchPanel()">Crear una cuenta</button>
          </div>

          <div class="overlay-panel overlay-left">
            <h1>¡Bienvenido de nuevo!</h1>
            <p>¿Ya tienes una cuenta?</p>
            <button type="submit" class="ghost" id="signIn" (click)="switchPanel()">Iniciar sesión</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
