<div class="row page-content">
  <div class="col-12 col-lg-12 align-self-center">
    <h1>Oxígeno en la sangre</h1>
  </div>

  <div class="col-12 col-lg-8 align-self-center">
    <div class="card card-graph">
      <div class="card-body ">

        <app-line-chart [data]="data"></app-line-chart>

      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 align-self-center">

    <div class="card">
      <div class="card-body">
        <h5 class="card-text">{{lastOX.fechaHora | date:'MMM d, y, h:mm:ss a'}}</h5>
        <p class="card-text">Promedio: {{lastOX.medicion || 0.00 | number : '1.2-2'}}</p>
      </div>
    </div>

  </div>

</div>

<div class="row page-content">
  <div class="col-12 col-lg-12 align-self-center">
    <h1>Historial del oxígeno en la sangre</h1>
  </div>

  <div class="col-12 col-lg-12 align-self-center">
    <div class="card card-graph">
      <div class="card-body ">

        <app-vertical-bar-chart [data]="dataReports" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          [legendTitle]="legendTitle"></app-vertical-bar-chart>

      </div>
    </div>
  </div>
</div>
