<div class="row d-flex justify-content-center align-items-center" style="height: 100vh ">
  <div class="col-12 col-lg-8 align-self-center">
    <div class="card card-graph">
      <div class="card-body ">
        <div class="form-container sign-in-container">
          <form action="#">
            <h1 class="title center">Perfil</h1>
            <hr>

            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="form-group">
                  <label for="first_name">Nombre</label>
                  <input class="form-control" type="text" name="FirstName" id="first_name" required disabled>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="form-group">
                  <label for="last_name">Apellido</label>
                  <input class="form-control" type="text" name="LastName" id="last_name" required disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="form-group">
                  <label for="email">Dirección de correo electrónico</label>
                  <input class="form-control" type="email" name="email" id="email" required disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="form-group">
                  <label for="height">Estatura</label>
                  <input class="form-control" type="text" name="Height" id="height" required disabled>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="form-group">
                  <label for="birth">Nacimiento</label>
                  <input class="form-control" type="text" name="Birth" id="birth" required disabled>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="form-group">
                  <label for="weight">Peso</label>
                  <input class="form-control" type="text" name="Weight" id="weight" required disabled>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
